{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'menu.dashboard.orders'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    {% if stores|length > 1 %}
        {% include 'dashboard/content/market_place/navbar/stores-nav.html.twig' with {route_name: 'app_dashboard_market_place_order_store_current'} %}
    {% endif %}
    <div class="block w-full">
        {% for store in stores %}
            <div class="grid-loop-cols-4">
                <div class="ps-2.5 pt-0 lg:text-base font-medium text-gray-800 dark:text-white">
                    <a class="font-medium text-indigo-700 dark:text-indigo-300 hover:underline underline-offset-8 line-clamp-1"
                       href="{{ path('app_dashboard_market_place_order_store_current', {store: store.id}) }}">{{ store.name }}</a>
                </div>
                <div class="ps-2.5 pt-2 flex-1">
                    <div class="text-gray-500 text-sm sm:mt-1 dark:text-white inline">{{ 'table.header.orders'|trans }}
                        :
                    </div>
                    <span
                            class="badge-indigo ms-2">{{ store.orders }}</span>
                </div>
                <div class="ps-2.5 pt-2 flex-1">
                    <div class="text-gray-500 text-sm sm:mt-1 dark:text-white inline">{{ 'store.products'|trans }}:
                    </div>
                    <span
                            class="badge-green ms-2">{{ store.products }}</span>
                </div>
                <div class="pe-3.5 mt-3 md:pe-5 md:flex md:flex-row md:justify-end items-start absolute right-12 text-xs md:text-sm text-nowrap text-gray-500 dark:text-white">
                    {{ store.created|date(date_format) }}
                </div>
                <div class="pe-3.5 mt-3 pt-0 md:-pt-2 md:pe-5 md:flex md:flex-row md:justify-end text-nowrap items-start absolute right-2">
                    <a role="button"
                       href="{{ path('app_dashboard_market_place_order_store_current', {store: store.id}) }}"
                       class="text-blue-500 dark:text-gray-100 hover:text-blue-700 dark:hover:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                            <path d="M3 3.5A1.5 1.5 0 0 1 4.5 2h1.879a1.5 1.5 0 0 1 1.06.44l1.122 1.12A1.5 1.5 0 0 0 9.62 4H11.5A1.5 1.5 0 0 1 13 5.5v1H3v-3ZM3.081 8a1.5 1.5 0 0 0-1.423 1.974l1 3A1.5 1.5 0 0 0 4.081 14h7.838a1.5 1.5 0 0 0 1.423-1.026l1-3A1.5 1.5 0 0 0 12.919 8H3.081Z"/>
                        </svg>

                    </a>
                </div>
            </div>
        {% endfor %}
        {% if stores|length == 0 %}
            <div class="no-results !mx-0">
                <div>{{ 'table.footer.not_found'|trans }}</div>
            </div>
        {% endif %}
    </div>
    <input type="hidden" name="flash-success" value="{{ _message[0]|default([]|json_encode) }}">
{% endblock %}