{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ 'customer.cabinet'|trans }}
        <span class="absolute right-0 mr-2 text-lg pe-4 font-normal">{{ customer.firstName }} {{ customer.lastName }}</span>
    </h2>
    <div class="cabinet-container">
        {% include 'market_place/cabinet/aside.html.twig' %}
        <section class="w-full md:flex-grow">
            <h4 class="pb-2 block w-full max-w-xl mb-4 text-base md:text-xl font-medium text-red-500 mx-auto line-clamp-1">
                {% if message.orders %}
                    {{ 'customer.order.messages'|trans }}: {{ message.orders.number }}
                {% elseif message.product %}
                    {{ 'customer.product.messages'|trans }}: {{ message.product.shortName }}
                {% else %}
                    {{ 'customer.cabinet.question'|trans({date: message.createdAt|date('F j, H:i')}) }}
                {% endif %}
            </h4>
            {% set priority = {low: 'green', medium: 'yellow', high: 'red'} %}
            <div class="flex items-center justify-center gap-2.5 my-5 px-1 md:mx-4">
                <img class="w-8 h-8 rounded-full" src="{{ asset('img/user-picture.jpg') }}" alt="...">
                <div class="flex flex-col w-full leading-1.5">
                    <div class="flex justify-between items-center space-x-2">
                        <span class="text-base font-medium text-slate-900 dark:text-slate-200">{{ message.customer.firstName }} {{ message.customer.lastName }}</span>
                        <span class="text-xs font-thin text-slate-500 dark:text-slate-400">{{ message.createdAt|date(datetime_format) }}</span>
                    </div>
                    <p class="text-xs md:text-sm my-1.5 p-4 bg-slate-50 rounded-lg text-slate-800 dark:bg-slate-800 dark:text-slate-200">{{ message.message }}</p>
                    <span class="text-center w-16 bg-{{ priority[message.priority] }}-100 text-{{ priority[message.priority] }}-800 text-xs font-medium py-0.5 rounded dark:bg-{{ priority[message.priority] }}-900 dark:text-{{ priority[message.priority] }}-300 capitalize">{{ message.priority }}</span>
                </div>
            </div>
            {% for row in conversation %}
                {% include 'market_place/cabinet/message/answers.html.twig' %}
            {% endfor %}
            {% set last = conversation|last %}
            {% if last|length and last.owner is not null and last.read == false %}
                {% include 'market_place/cabinet/message/answer_form.html.twig' with {
                    id: message.id,
                    last: last.id,
                    identity: last.identity,
                    store: last.store.id
                } %}
            {% endif %}
            <div id="response"></div>
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('message-js') }}
{% endblock %}

