{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ 'customer.cabinet'|trans }}
        <span class="absolute right-0 mr-2 text-lg pe-4 font-normal">{{ customer.firstName }} {{ customer.lastName }}</span>
    </h2>
    <div class="cabinet-container">
        {% include 'market_place/cabinet/aside.html.twig' %}
        <section class="w-full md:flex-grow">
            <div class="pt-2 md:px-4 relative">
                <h4 class="pb-2 block w-full mb-4 text-xl font-medium text-red-500 text-center">{{ 'customer.cabinet.messages'|trans }}</h4>
                {% if messages|length %}
                    <div class="relative">
                        <div class="caption dark:bg-slate-900 border-b border-slate-200 border-dashed dark:border-slate-600">
                            {{ 'caption.messages.history'|trans }}
                        </div>
                        {% set _message_seccess = app.flashes('success') %}
                        <div class="flex flex-col mt-3">
                            {% set last = messages|last %}
                            {% for message in messages %}
                                {% set background = 'bg-white dark:bg-slate-900' %}
                                {% if message.read == true  and message.deleted is null %}
                                    {% set background = 'bg-green-50 dark:bg-green-950' %}
                                {% elseif message.read == true and message.deleted is not null %}
                                    {% set background = 'bg-white dark:bg-slate-900 opacity-75' %}
                                {% endif %}
                                <div class="{{ background }} mb-1 flex flex-row items-center py-1.5 text-slate-700 rounded-md border border-dashed hover:bg-slate-50 hover:bg-opacity-50 border-white hover:border-slate-200 dark:border-slate-900 dark:hover:border-slate-700 dark:hover:bg-slate-800 dark:text-slate-300">
                                    <div class="ml-2 flex-grow font-medium max-w-xs">
                                        {% if message.product is not null %}
                                            <a class="hover:text-slate-700 dark:hover:text-white"
                                               title="{{ message.product.short_name }}"
                                               target="_blank"
                                               href="{{ path('app_market_place_product', {slug: message.product.slug, tab: 'about'}) }}">
                                                {{ message.product.short_name }}
                                                <svg class="w-4 h-4 inline-block text-slate-800 dark:text-white"
                                                     aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                                     height="24" fill="none" viewBox="0 0 24 24">
                                                    <path stroke="currentColor" stroke-linecap="round"
                                                          stroke-linejoin="round" stroke-width="2"
                                                          d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"></path>
                                                </svg>
                                            </a>
                                        {% elseif message.order is not null %}
                                            <abbr title="{{ message.order.number }}">{{ message.order.number }}</abbr>
                                        {% else %}
                                            {{ 'store.message.question'|trans }}
                                        {% endif %}
                                        <div class="block text-xs font-thin mt-0.5">
                                            {% if message.deleted is not null %}
                                                {{ last.deleted|date(datetime_format) }}
                                            {% else %}
                                                {{ message.created|date(datetime_format) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="hidden md:flex text-center justify-center px-5">
                                        <span class="badge-green">{{ message.priority }}</span>
                                    </div>
                                    <div class="md:flex text-center pe-5 md:px-5">
                                        <span class="badge-default-border">{{ message.answers }}</span>
                                    </div>
                                    <div class="md:flex-1 text-center justify-center">
                                        <a class="line-clamp-1 capitalize text-cyan-800 hover:text-cyan-600 underline hover:no-underline dark:text-cyan-300 dark:hover:text-cyan-500"
                                           href="{{ path('app_market_place_market', {slug: message.store.slug}) }}">
                                            {{ message.store.name }}
                                        </a>
                                    </div>
                                    <div class="flex me-2 ps-2 md:ps-0 justify-end items-end">
                                        <a class="text-slate-800 dark:text-white"
                                           href="{{ path('app_cabinet_messages', {id: message.id}) }}">
                                            <svg class="w-[20px] h-[20px]"
                                                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                                 height="24" fill="currentColor" viewBox="0 0 24 24">
                                                <path fill-rule="evenodd"
                                                      d="M4 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h1v2a1 1 0 0 0 1.707.707L9.414 13H15a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4Z"
                                                      clip-rule="evenodd"></path>
                                                <path fill-rule="evenodd"
                                                      d="M8.023 17.215c.033-.03.066-.062.098-.094L10.243 15H15a3 3 0 0 0 3-3V8h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-1v2a1 1 0 0 1-1.707.707L14.586 18H9a1 1 0 0 1-.977-.785Z"
                                                      clip-rule="evenodd"></path>
                                            </svg>
                                        </a>
                                        <a href="{{ path('app_cabinet_message_delete', {id: message.id}) }}"
                                           class="ps-0.5 text-red-500 hover:text-red-700 dark:text-red-50 dark:hover:text-red-400{{ message.deleted ? ' pointer-events-none' : '' }}">
                                            <svg class="w-[20px] h-[20px] ps-0.5" fill="none" viewBox="0 0 24 24"
                                                 stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <input type="hidden" name="flash-success" value="{{ _message_seccess[0]|default([]|json_encode) }}">
                {% else %}
                    <div id="not-found" class="text-center visually-hidden">
                        <img class="block mx-auto"
                             src="{{ asset('img/empty-result.svg') }}"
                             width="340" alt="{{ 'store.product.wishlist.empty'|trans }}">
                        <p class="text-center">
                            {{ 'store.product.wishlist.empty'|trans }}
                            <a class="block font-light"
                               href="{{ path('app_cabinet') }}">{{ 'form.action.back'|trans }}</a>
                        </p>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}
{% block toast %}
    {{ include ('layouts/toast/success.html.twig') }}
{% endblock %}