{% extends 'dashboard/index.html.twig' %}

{% if form.vars.data.id %}
    {% set _title_extend = 'title.dashboard.change_faq'|trans %}
{% else %}
    {% set _title_extend = 'title.dashboard.create_faq'|trans %}
{% endif %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    {% set _message = app.flashes('success') %}
    <div class="form-box">
        {{ form_start(form, {attr: {autocomplete: 'off', novalidate: ''}}) }}
        <div class="block mb-3">
            {{ form_label(form.title, 'label.form.title', {label_attr: {class: 'form-label'}}) }}
            {{ form_widget(form.title, {attr: {class: 'input-widget', 'data-showcounter': 'true', placeholder: 'label.form.title'}}) }}
            <span class="input-wrong">{{ form_errors(form.title) }}</span>
        </div>
        <div class="block mb-3">
            {{ form_label(form.content, 'label.form.content', {label_attr: {class: 'form-label'}}) }}
            {{ form_widget(form.content, {attr: {class: 'input-widget', rows: 6, placeholder: 'label.form.content'}}) }}
            <span class="input-wrong">{{ form_errors(form.content) }}</span>
        </div>
        <div class="block mb-3">
            <label for="{{ form.visible.vars.id }}" class="inline-flex items-center -mb-1.5 cursor-pointer">
                {{ form_widget(form.visible, {attr: {class: 'sr-only peer', checked: form.visible.vars == 1 ? 'checked' : null}}) }}
                <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-0 peer-focus:ring-gray-300 dark:peer-focus:ring-gray-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-gray-600"></div>
                <span class="ms-3 relative text-sm font-medium text-gray-900 dark:text-gray-300">{{ 'label.form.visible'|trans }}</span>
            </label>
        </div>
        <input type="hidden" name="flash-success" value="{{ _message[0]|default([]|json_encode) }}">
        <div class="w-full text-center pb-1">
            {{ form_widget(form.save, { label: form.vars.data.id ? 'form.action.update' : 'form.action.save', attr: {class: 'btn-red'}}) }}
            <a type="button"
               href="{{ url('app_dashboard_faq') }}"
               class="btn-gray-strong">{{ 'form.action.back'|trans }}</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('suneditor/suneditor.min.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('suneditor/suneditor.min.js') }}"></script>
    <script type="text/javascript">
        const options = {
            height: '300',
            width: '100%',
            plugins: ['undo', 'redo', 'formatBlock', 'paragraphStyle',
                'blockquote', 'bold', 'underline', 'italic', 'strike', 'subscript', 'superscript',
                'fontColor', 'hiliteColor', 'textStyle', 'removeFormat', 'outdent', 'indent',
                'align', 'horizontalRule', 'list', 'lineHeight', 'fullScreen', 'showBlocks', 'codeView',
                'table', 'link', 'image', 'video', 'audio'],
            buttonList: [
                ['undo', 'redo'],
                ['formatBlock'],
                ['paragraphStyle', 'blockquote'],
                ['bold', 'underline', 'italic', 'strike', 'subscript', 'superscript'],
                ['fontColor', 'hiliteColor', 'textStyle'],
                ['removeFormat'],
                ['outdent', 'indent'],
                ['align', 'horizontalRule', 'list', 'lineHeight'],
                ['table', 'link', 'image', 'video', 'audio'],
                /** ['imageGallery'] */ // You must add the "imageGalleryUrl".
                ['fullScreen', 'showBlocks', 'codeView'],
            ]
        };
        const editor = SUNEDITOR.create((document.getElementById('faq_content') || 'faq_content'), options);
        editor.onChange = (contents, core) => {
            editor.save();
        }
    </script>
{% endblock %}