{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ 'customer.cabinet'|trans }}
        <span class="absolute right-0 mr-2 text-lg pe-4 font-normal">{{ customer.firstName }} {{ customer.lastName }}</span>
    </h2>
    <div class="cabinet-container">
        {% include 'market_place/cabinet/aside.html.twig' %}
        <section class="w-full md:flex-grow">
            <div class="pt-2 px-4">
                <h4 class="pb-2 block w-full mb-4 text-xl font-semibold text-red-500 text-center text-sm-start">{{ 'customer.cabinet.personal_information'|trans }}</h4>
                {% if errors.count %}
                    <div class="flex items-center p-4 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-400"
                         role="alert">
                        <div class="ms-3 text-sm font-medium">{{ errors.current.message }}</div>
                    </div>
                {% endif %}
                {% set _message = app.flashes('success') %}
                {{ form_start(form, {attr: {novalidate: ''}}) }}
                {% include 'market_place/checkout/parts/customer.html.twig' %}
                <input type="hidden" name="flash-success" value="{{ _message[0]|default([]|json_encode) }}">
                <div class="text-center mt-5">
                    <button class="inline-block btn-red"
                            type="submit">{{ 'form.action.change'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </section>
    </div>
{% endblock %}
{% block toast %}
    {{ include ('layouts/toast/success.html.twig') }}
{% endblock %}