{% extends 'dashboard/index.html.twig' %}

{% set _message = app.flashes('success') %}
{% set _title_extend = form.vars.data.id ? 'title.dashboard.change_blog'|trans : 'title.dashboard.create_blog'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}
    {{ _title_extend }}
    {% if app.request.get('id') %}
        {#        <a role="button" target="_blank" #}
        {#           class="text-sm font-normal border shadow-md hover:border-slate-400 hover:bg-slate-100 hover:shadow-lg rounded-md px-3 py-2 float-end mb-1 dark:text-white dark:hover:bg-black" #}
        {#           href="{{ path('app_blog_view', {slug: form.vars.data.slug}) }}">{{ 'user.entry.preview'|trans }}</a> #}
    {% endif %}
{% endblock %}
{% block content %}
    {{ form_start(form, {attr: {novalidate: ''}}) }}
    {% if form_errors(form) %}
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-slate-800 dark:text-red-400"
             role="alert">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    {% if error %}
        <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-slate-800 dark:text-yellow-300"
             role="alert">
            {{ error }}
        </div>
    {% endif %}
    <div class="form-box">
        <div class="block mb-3">
            {{ form_label(form.title, 'label.form.title', {label_attr: {class: 'form-label'}}) }}
            {{ form_widget(form.title, {attr: {class: 'input-widget', 'data-showcounter': 'true', placeholder: 'label.form.title'}}) }}
            <small class="input-wrong">{{ error ? error : form_errors(form.title) }}</small>
        </div>
        <div class="block mb-3">
            {{ form_label(form.short_content, 'label.form.short_content', {label_attr: {class: 'form-label'}}) }}
            {{ form_widget(form.short_content, {attr: {class: 'resize-none input-widget', 'data-showcounter': 'true', rows: 3, placeholder: 'label.form.short_content'}}) }}
            <small class="input-wrong">{{ form_errors(form.short_content) }}</small>
        </div>
        {% include 'dashboard/content/form/category.html.twig' with {'categories': categories, 'collection': form.vars.data.entryCategories} %}
        <div class="block mb-3">
            {{ form_label(form.content, 'label.form.content', {label_attr: {class: 'form-label'}}) }}
            {{ form_widget(form.content, {attr: {class: 'input-widget', rows: 6, placeholder: 'label.form.content'}}) }}
            <small class="input-wrong">{{ form_errors(form.content) }}</small>
        </div>
        <div class="block mb-3">
            {{ form_label(form.status, 'label.form.status', {label_attr: {class: 'form-label'}}) }}
            {{ form_widget(form.status, {attr: {class: 'input-widget', disabled: app.request.get('id') ? false : true}}) }}
            <small class="input-wrong">{{ form_errors(form.status) }}</small>
        </div>
        {% if app.request.get('id') %}
            {% include 'dashboard/content/form/attachment.html.twig' with {
                'attachments': entry.entryAttachments,
                'storage': 'entry/picture',
                'target': 'entry',
                'data_url': path('app_dashboard_blog_attach', {id: app.request.get('id')}),
                'set_use': path('app_dashboard_blog_attach_set_use', {entry: entry.id}),
                'remove': path('app_dashboard_blog_attach_remove', {entry: entry.id}),
                'id': entry.id,
                'filter': 'entry_preview'
            } %}
        {% endif %}
        <input type="hidden" name="flash" value="{{ _message[0]|default([]|json_encode) }}">
        <div class="block text-center mx-3">
            {{ form_widget(form.next, { label: app.request.get('id') ? 'form.action.update' : 'form.action.next', attr: {class: 'btn-red'}}) }}
            <a role="button" href="{{ url('app_dashboard_blog') }}"
               class="btn-slate-strong">{{ 'form.action.back'|trans }}</a>
        </div>
    </div>
    {{ form_end(form) }}
    {% include 'layouts/confirmation/delete.html.twig' %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('suneditor/suneditor.min.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('suneditor/suneditor.min.js') }}"></script>
    <script type="text/javascript">
        const options = {
            height: '300',
            width: '100%',
            imageFileInput: false,
            imageGalleryUrl: '{{ path('dashboard.image-manager,json') }}',
            plugins: ['undo', 'redo', 'formatBlock', 'paragraphStyle',
                'blockquote', 'bold', 'underline', 'italic', 'strike', 'subscript', 'superscript',
                'fontColor', 'hiliteColor', 'textStyle', 'removeFormat', 'outdent', 'indent',
                'align', 'horizontalRule', 'list', 'lineHeight', 'fullScreen', 'showBlocks', 'codeView',
                'table', 'link', 'image', 'video', 'audio'],
            buttonList: [
                ['undo', 'redo'],
                ['formatBlock'],
                ['paragraphStyle', 'blockquote'],
                ['bold', 'underline', 'italic', 'strike', 'subscript', 'superscript'],
                ['fontColor', 'hiliteColor', 'textStyle'],
                ['removeFormat'],
                ['outdent', 'indent'],
                ['align', 'horizontalRule', 'list', 'lineHeight'],
                ['table', 'link', 'image', 'video', 'audio'],
                ['imageGallery'],
                ['fullScreen', 'showBlocks', 'codeView'],
            ]
        };
        const editor = SUNEDITOR.create((document.getElementById('entry_details_content') || 'entry_details_content'), options);
        editor.onChange = (contents, core) => {
            editor.save();
        }
    </script>
{% endblock %}