{% set requestPage = app.request.get('page') is null ? 1 : app.request.get('page') %}
{% set middle = 4 %}
<div class="inline-block float-end">
    <div class="flex flex-row w-auto space-x-1">
        {% if requestPage > 1 %}
            <a class="bg-white text-slate-600 px-2 border rounded-md py-1 text-sm font-medium hover:bg-slate-50 dark:bg-slate-700 dark:text-slate-100 dark:border-slate-600 dark:hover:bg-slate-900"
               href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({page: 1})) }}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4">
                    <path fill-rule="evenodd"
                          d="M3.22 7.595a.75.75 0 0 0 0 1.06l3.25 3.25a.75.75 0 0 0 1.06-1.06l-2.72-2.72 2.72-2.72a.75.75 0 0 0-1.06-1.06l-3.25 3.25Zm8.25-3.25-3.25 3.25a.75.75 0 0 0 0 1.06l3.25 3.25a.75.75 0 1 0 1.06-1.06l-2.72-2.72 2.72-2.72a.75.75 0 0 0-1.06-1.06Z"
                          clip-rule="evenodd"/>
                </svg>
            </a>
        {% endif %}
        {% if requestPage > 2 %}
            <a rel="prev"
               class="bg-white hover:bg-slate-50 dark:bg-slate-700 dark:text-slate-100 dark:border-slate-600 dark:hover:bg-slate-900 text-slate-600 px-2 mx-1 border rounded-md py-1 text-sm"
               href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({page: (0 + requestPage|number_format - 1)})) }}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4">
                    <path fill-rule="evenodd"
                          d="M9.78 4.22a.75.75 0 0 1 0 1.06L7.06 8l2.72 2.72a.75.75 0 1 1-1.06 1.06L5.47 8.53a.75.75 0 0 1 0-1.06l3.25-3.25a.75.75 0 0 1 1.06 0Z"
                          clip-rule="evenodd"/>
                </svg>
            </a>
        {% endif %}
        {% for i in 1..pages %}
            {% if 0 == ((requestPage) - middle) - loop.index %}
                <span class="bg-white text-slate-600 px-3 mx-1 border rounded-md py-1 text-sm">..</span>
            {% elseif 0 == (requestPage + middle) - loop.index %}
                <span class="bg-white text-slate-600 px-3 mx-1 border rounded-md py-1 text-sm">..</span>
            {% elseif 0 < (requestPage - middle) - loop.index %}
            {% elseif 0 > (requestPage + middle) - loop.index %}
            {% else %}
                <a class="{{ loop.index == requestPage ? 'bg-slate-400 text-slate-500 dark:bg-slate-900 font-medium pointer-events-none' : 'bg-white text-slate-600' }} px-3 mx-1 border rounded-md py-1 text-sm hover:bg-slate-50 bg-white dark:bg-slate-700 dark:text-slate-100 dark:border-slate-600 dark:hover:bg-slate-900"
                   href="{{ path(route, app.request.attributes.get('_route_params')|merge({page: i})) }}">{{ loop.index }}</a>
            {% endif %}
        {% endfor %}
        {% if middle < requestPage %}
            <span class="bg-white text-slate-600 px-3 mx-1 border rounded-md py-1 text-sm">..</span>
        {% endif %}
        {% if requestPage < pages - 1 %}
            <a rel="next"
               class="hover:bg-slate-50 bg-white dark:bg-slate-700 dark:text-slate-100 dark:border-slate-600 dark:hover:bg-slate-900 text-slate-600 px-2 mx-1 border rounded-md py-1 text-sm"
               href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({page: (0 + requestPage|number_format + 1)})) }}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4">
                    <path fill-rule="evenodd"
                          d="M6.22 4.22a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06L8.94 8 6.22 5.28a.75.75 0 0 1 0-1.06Z"
                          clip-rule="evenodd"/>
                </svg>
            </a>
        {% endif %}
        {% if requestPage < pages %}
            <a class="flex hover:bg-slate-50 bg-white dark:bg-slate-700 dark:text-slate-100 dark:border-slate-600 dark:hover:bg-slate-900 text-slate-600 px-2 mx-1 border rounded-md py-1 text-sm font-medium"
               href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({page: pages})) }}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4">
                    <path fill-rule="evenodd"
                          d="M12.78 7.595a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06l2.72-2.72-2.72-2.72a.75.75 0 0 1 1.06-1.06l3.25 3.25Zm-8.25-3.25 3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06l2.72-2.72-2.72-2.72a.75.75 0 0 1 1.06-1.06Z"
                          clip-rule="evenodd"/>
                </svg>
            </a>
        {% endif %}
    </div>
</div>
