<div class="block mb-3">
    <div id="accordion-collapse" class="w-full block" data-accordion="collapse">
        <h3 id="category-heading">
            <a class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-slate-500 border border-b-0 border-slate-200 rounded-t-xl focus:ring-4 focus:ring-slate-200 dark:focus:ring-slate-800 dark:border-slate-700 dark:text-slate-400 hover:bg-slate-100 dark:hover:bg-slate-800 gap-3"
               data-accordion-target="#category-body"
               aria-expanded="true"
               role="button"
               aria-controls="categories">{{ 'entry.form.categories'|trans }}</a>
        </h3>
    </div>
    {% set cat = app.request.get('category')|keys %}
    <div class="hidden" id="category-body" aria-labelledby="category-heading">
        <div class="p-5 border rounded-b-lg border-slate-200 dark:border-slate-700 dark:bg-slate-900">
            {% for key, category in categories %}
                {% set _checked = '' %}
                {% for Category in collection %}
                    {% if category.id == Category.category.id %}
                        {% set _checked = 'checked' %}
                    {% endif %}
                {% endfor %}
                {#                {% if category.id == cat[key]|default %} #}
                {#                    {% set _checked = 'checked' %} #}
                {#                {% endif %} #}
                <div class="flex flex-col flex-wrap mb-3">
                    <label for="category-{{ category.id }}" class="inline-flex items-center -mb-1.5 cursor-pointer">
                        <input type="checkbox" name="category[{{ category.id }}]" class="peer sr-only"
                               id="category-{{ category.id }}" {{ _checked }}>
                        <div class="relative w-11 h-6 bg-slate-200 peer-focus:outline-none peer-focus:ring-0 peer-focus:ring-slate-300 dark:peer-focus:ring-slate-800 rounded-full peer dark:bg-slate-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-slate-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-slate-600 peer-checked:bg-slate-600"></div>
                        <span class="ms-3 relative text-sm font-medium text-slate-900 dark:text-slate-300">{{ category.name }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
</div>