{% extends 'market_place/index.html.twig' %}

{% block title %}{{ 'order.checkout.completed'|trans }}{% endblock %}
{% block description %}{{ 'order.checkout.completed'|trans }}{% endblock %}
{% block offest %}pt-4 py-8 lg:py-16 lg:px-2 max-w-xl{% endblock %}
{% block childen %}{% endblock %}
{% block content_body %}
    {% if temp_password %}
        <h2 class="block line-clamp-1">{{ 'order.checkout.completed'|trans }}</h2>
        <p class="text-center p-5 text-md-start text-red-400 font-normal">{{ 'customer.temporary.password'|trans }}
            <span class="inline-block bg-slate-300 rounded-sm text-slate-500 mx-1 w-25 px-2 pt-1 pb-0.5">{{ temp_password }}</span>
        </p>
    {% endif %}
    <div class="mt-4">
        {% include 'market_place/checkout/_customer_login_form.html.twig' %}
    </div>
{% endblock %}