{% extends 'dashboard/index.html.twig' %}

{% if form.vars.data.id %}
    {% set _title_extend = form.vars.data.name %}
{% else %}
    {% set _title_extend = 'store.supplier.create'|trans %}
{% endif %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}
{% block content %}
    {% set _message_seccess = app.flashes('success') %}
    {% set _message_danger = app.flashes('danger') %}
    <div class="form-box">
        {{ form_start(form, {attr: {class: 'group', novalidate: 'novalidate'}}) }}
        <div class="block mb-3">
            {{ form_label(form.name, 'label.form.supplier_name', {label_attr: {class: 'form-label'}}) }}
            {{ form_widget(form.name, {attr: {class: 'input-widget', placeholder: 'label.form.supplier_name'}}) }}
            <span class="mt-0.5 block hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">{{ 'form.name.invalid'|trans }}</span>
            <span class="input-wrong">{{ form_errors(form.name) }}</span>
        </div>
        <div class="block mb-3">
            {{ form_label(form.country, 'label.form.supplier_country', {label_attr: {class: 'form-label'}}) }}
            {{ form_widget(form.country, {attr: {class: 'input-widget'}}) }}
            <span class="mt-0.5 block hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">{{ 'form.country.invalid'|trans }}</span>
            <span class="input-wrong">{{ form_errors(form.country) }}</span>
        </div>
        <input type="hidden" name="flash-success" value="{{ _message_seccess[0]|default([]|json_encode) }}">
        <input type="hidden" name="flash-danger" value="{{ _message_danger[0]|default([]|json_encode) }}">
        <div class="w-full text-center pb-1">
            {{ form_widget(form.save, { label: form.vars.data.id ? 'form.action.update' : 'form.action.save', attr: {class: 'btn-red'}}) }}
            <a type="button"
               href="{{ url('app_dashboard_market_place_store_supplier', {store: app.request.get('store')}) }}"
               class="btn-slate-strong">{{ 'form.action.back'|trans }}</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}