{% set _arrow_left = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 inline-block mr-1">
                        <path fill-rule="evenodd" d="M2 8c0 .414.336.75.75.75h8.69l-1.22 1.22a.75.75 0 1 0 1.06 1.06l2.5-2.5a.75.75 0 0 0 0-1.06l-2.5-2.5a.75.75 0 1 0-1.06 1.06l1.22 1.22H2.75A.75.75 0 0 0 2 8Z" clip-rule="evenodd">
                        </path>
                    </svg>' %}

<nav class="px-4 lg:px-6">
    <div class="max-w-screen-xl self-start mx-auto py-1 border-b my-2 border-gray-100 dark:border-gray-700 border-dashed">
        <nav class="contents">
            <ul class="md:mr-4 xl:w-48 flex space-x-1.5 md:space-x-2 items-center justify-end ml-auto mb-1">
                <li class="relative inline-block">
                    <button id="theme-toggle" class="block w-[24px] h-[24px] md:w-[32px] md:h-[32px] bg-slate-200 rounded-full">
                        <svg id="theme-toggle-dark-icon" class="hidden h-6 md:h-8 p-1 md:p-2 text-gray-500" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                        </svg>
                        <svg id="theme-toggle-light-icon" xmlns="http://www.w3.org/2000/svg"
                             aria-hidden="true" class="hidden h-6 md:h-8 p-1 md:p-2" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                                  fill-rule="evenodd" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </li>
                <li class="relative inline-block">
                    <a class="block w-[24px] h-[24px] md:w-[32px] md:h-[32px] bg-slate-200 rounded-full" href="">
                        <svg class="h-6 md:h-8 p-1 md:p-2 text-gray-500" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 512 512">
                            <path fill="currentColor"
                                  d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path>
                        </svg>
                    </a>
                </li>
                <li class="relative inline-block">
                    <a class="block w-[24px] h-[24px] md:w-[32px] md:h-[32px] bg-slate-200 rounded-full" href="">
                        <svg class="h-6 md:h-8 p-1 md:p-2 text-gray-500" xmlns="http://www.w3.org/2000/svg"
                             aria-hidden="true" viewBox="0 0 24 24">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M15 17h5l-1.405-1.405A2.03 2.03 0 0 1 18 14.158V11a6 6 0 0 0-4-5.659V5a2 2 0 1 0-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 1 1-6 0v-1m6 0H9"></path>
                        </svg>
                    </a>
                    {% set count_messages = 0 %}
                    {% if app.user %}
                        {% set count_messages = msg.cabinet(app.user.id) %}
                    {% endif %}
                    <div id="notify"
                         class="absolute border-1 border-white w-3 h-3 {{ count_messages > 0 ? 'bg-red-500 animate-blinking' : 'bg-gray-500' }} rounded-full -top-1.5 md:-top-1 -end-1 md:-end-1">
                    </div>
                </li>
                <li class="relative inline-block">
                    <button class="block w-[24px] h-[24px] md:w-[32px] md:h-[32px] bg-slate-200 rounded-full"
                            id="show-cart"
                            data-drawer-target="shopping-cart"
                            data-drawer-show="shopping-cart"
                            aria-controls="shopping-cart" data-drawer-placement="right"
                            data-drawer-body-scrolling="true"
                            data-url="{{ path('app_market_place_product_order_cart') }}">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             aria-hidden="true" class="h-6 md:h-8 p-1 md:p-2 text-gray-500"
                             viewBox="0 0 24 24">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="1.5"
                                  d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.137a60 60 0 0 0-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0m12.75 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0"></path>
                        </svg>
                    </button>
                    <div id="qty"
                         class="absolute inline-flex items-center justify-center px-1.5 py-0.5 text-[8px] font-medium text-white bg-red-600 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900">
                        {{ shop.quantity()|default(0) }}
                        <span class="sr-only">{{ shop.quantity() }}</span>
                    </div>
                </li>
                <li class="relative inline-block">
                    <button class="flex items-center"
                            data-dropdown-toggle="account-dropdown"
                            id="account">
                        <div class="flex-1">
                            <span class="block w-[24px] h-[24px] md:w-[32px] md:h-[32px] bg-slate-200 rounded-full">
                                <svg class="h-6 md:h-8 p-1 md:p-2 text-gray-500" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
                                </svg>
                            </span>
                        </div>
                        {% if app.user %}
                            <div class="ml-2 flex-none text-slate-600 dark:text-white text-sm font-normal items-center lg:flex hidden line-clamp-1 whitespace-no-wrap lowercase">
                                {{ app.user.email }}
                            </div>
                        {% endif %}
                    </button>
                    <div id="account-dropdown" class="absolute z-20 hidden transition-opacity duration-300 delay-1s ease-out ">
                        <ul class="w-48 min-w-max list-none space-y-1 text-xs md:text-sm font-medium overflow-hidden p-0.5 md:p-1 dark:bg-gray-700 rounded-sm border-none bg-white bg-clip-padding shadow-xl"
                            aria-labelledby="account">
                            {% if not app.user %}
                                <li>
                                    <a class="block px-4 py-2 bg-transparent rounded-sm dark:bg-transparent dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-50 focus:text-gray-50 hover:bg-red-600 focus:bg-gray-600 focus:outline-none focus:shadow-outline"
                                       href="{{ path('app_login') }}">{{ _arrow_left|raw }}{{ 'title.user.login'|trans }}</a>
                                </li>
                                <li>
                                    <a class="block px-4 py-2 bg-transparent rounded-sm dark:bg-transparent dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-50 focus:text-gray-50 hover:bg-red-600 focus:bg-gray-600 focus:outline-none focus:shadow-outline"
                                       href="{{ path('app_customer_register') }}">{{ _arrow_left|raw }}{{ 'title.user.register'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a class="block px-4 py-2 bg-transparent rounded-sm dark:bg-transparent dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-50 focus:text-gray-50 hover:bg-red-600 focus:bg-gray-600 focus:outline-none focus:shadow-outline"
                                       href="{{ path('app_forgot_password_request') }}">{{ _arrow_left|raw }}{{ 'text.forgot_password'|trans }}</a>
                                </li>
                            {% else %}
                                {% if 'ROLE_USER' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
                                    <li>
                                        <a class="block px-4 py-2 bg-transparent rounded-sm dark:bg-transparent dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-50 focus:text-gray-50 hover:bg-red-600 focus:bg-gray-600 focus:outline-none focus:shadow-outline"
                                           href="{{ path('app_dashboard') }}">{{ _arrow_left|raw }}{{ 'text.dashboard'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="block px-4 py-2 bg-transparent rounded-sm dark:bg-transparent dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-50 focus:text-gray-50 hover:bg-red-600 focus:bg-gray-600 focus:outline-none focus:shadow-outline"
                                           href="{{ path('app_profile') }}">{{ _arrow_left|raw }}{{ 'text.profile'|trans }}</a>
                                    </li>
                                    <li>
                                        <a class="block px-4 py-2 bg-transparent rounded-sm dark:bg-transparent dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-50 focus:text-gray-50 hover:bg-red-600 focus:bg-gray-600 focus:outline-none focus:shadow-outline"
                                           href="{{ path('app_logout') }}">{{ _arrow_left|raw }}{{ 'title.user.logoff'|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if 'ROLE_CUSTOMER' in app.user.roles and 'ROLE_ADMIN' not in app.user.roles and 'ROLE_USER' not in app.user.roles %}
                                    <li>
                                        <a class="block px-4 py-2 bg-transparent rounded-sm dark:bg-transparent dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-50 focus:text-gray-50 hover:bg-red-600 focus:bg-gray-600 focus:outline-none focus:shadow-outline"
                                           href="{{ path('app_cabinet') }}">{{ _arrow_left|raw }}{{ 'title.customer.cabinet'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="block px-4 py-2 bg-transparent rounded-sm dark:bg-transparent dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-50 focus:text-gray-50 hover:bg-red-600 focus:bg-gray-600 focus:outline-none focus:shadow-outline"
                                           href="{{ path('app_logout') }}">{{ _arrow_left|raw }}{{ 'title.user.logoff'|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <div class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto mt-3">
        <a href="{{ path('app_index') }}" class="flex items-center -mt-2.5 text-white">
            <svg class="h-6 mr-3 sm:h-10 fill-red-600" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 17.481 17.481" xml:space="preserve" fill="currentColor">
                <g stroke-width="0"></g>
                <g stroke-linecap="round" stroke-linejoin="round"></g>
                <g>
                    <g>
                        <path d="M17.471,2.073c-0.564-0.122-1.063-0.167-1.543-0.188C15.448,1.86,15,1.876,14.563,1.903 c-0.867,0.065-1.66,0.216-2.393,0.439c-1.466,0.443-2.708,1.152-3.778,2.063C7.323,5.317,6.421,6.427,5.745,7.803 c-0.34,0.687-0.62,1.443-0.826,2.286c-0.098,0.428-0.188,0.864-0.243,1.343c-0.045,0.366-0.077,0.747-0.078,1.164 c-0.08,0.043-0.16,0.092-0.238,0.145c0,0-2.711,1.528-3.962,1.563c-1.251,0.031,0.88,0.755,0.521,1.249 c-0.279,0.385,2.277-1.363,3.817-2.548c0.002,0,0.004,0,0.006,0.002C9.592,9.6,14.928,4.396,14.928,4.396s-5.965,7.766-9.078,8.753 c0.098,0.006,0.196,0.011,0.292,0.016c0.481,0.025,0.928,0.008,1.365-0.021c0.865-0.065,1.658-0.219,2.39-0.44 c1.468-0.441,2.711-1.149,3.786-2.055c1.075-0.907,1.977-2.016,2.654-3.39c0.341-0.685,0.618-1.443,0.825-2.288 c0.099-0.427,0.188-0.865,0.241-1.345C17.463,3.149,17.499,2.65,17.471,2.073z"></path>
                    </g>
                </g>
            </svg>
            <span class="self-center text-2xl font-oswald whitespace-nowrap text-black dark:text-white uppercase">{{ 'site.title'|trans }}</span>
        </a>
        <div class="flex items-center align-bottom lg:order-2 space-x-2">
            <button data-collapse-toggle="mobile-menu" type="button"
                    class="lg:hidden items-center text-white dark:text-white bg-red-500 dark:bg-slate-900 hover:bg-gray-50 hover:text-red-900 focus:ring-1 focus:ring-gray-100 font-medium rounded-md px-2 py-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800"
                    aria-controls="mobile-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                          clip-rule="evenodd"></path>
                </svg>
                <svg class="hidden w-6 h-6 text-white" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
        <div class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu">
            {% set split = app.request.get('_route')|split('_') %}
            <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-4 lg:mt-0">
                <li>
                    <a href="{{ path('about') }}"
                       class="{{ _route == 'about'? 'active': '' }} header-nav-item border-0">{{ 'title.about_us'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('faq') }}"
                       class="{{ _route == 'faq'? 'active': '' }} header-nav-item border-0">{{ 'title.questions'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('service') }}"
                       class="{{ _route == 'service'? 'active': '' }} header-nav-item border-0">{{ 'title.service'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('contact') }}"
                       class="{{ _route == 'contact'? 'active': '' }} header-nav-item border-0">{{ 'title.contact_us'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('app_blog') }}"
                       class="{{ split|length > 1 and split[1] == 'blog' ? 'active' : '' }} header-nav-item border-0">{{ 'title.blogs'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('app_market_place_index') }}"
                       class="{{ split|length > 1 and split[1] == 'market' ? 'active' : '' }} header-nav-item border-0">{{ 'title.market_places'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>