<form class="group mb-3" id="form-answer" autocomplete="off"
      action="{{ path('app_dashboard_market_place_message_conversation', {store: app.request.get('store'), id: id}) }}">
    <input type="hidden" id="id" name="id" value="{{ id }}">
    <input type="hidden" id="customer" name="customer" value="{{ customer }}">
    <input type="hidden" id="last" name="last" value="{{ last }}">
    <label for="message" class="sr-only">{{ 'form.your.message'|trans }}</label>
    <div class="flex items-center py-2">
        <textarea id="message" autocomplete="off" name="message" minlength="20" maxlength="255" rows="1" required
                  class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer md:block p-2.5 w-full text-sm text-gray-900 resize-none bg-white rounded-lg border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-500 dark:focus:border-indigo-500"
                  placeholder="{{ 'form.your.message'|trans }}"></textarea>
        <button type="submit"
                class="inline-flex justify-center ps-4 py-2 text-indigo-600 rounded-full cursor-pointer group-invalid:pointer-events-none group-invalid:opacity-30">
            <svg class="w-5 h-5 rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor" viewBox="0 0 18 20">
                <path d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"></path>
            </svg>
            <span class="sr-only">{{ 'form.action.send'|trans }}</span>
        </button>
    </div>
</form>