{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.overview_messages'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    {% if stores|length > 1 %}
        {% include 'dashboard/content/market_place/navbar/stores-nav.html.twig' with {route_name: 'app_dashboard_market_place_message_current'} %}
    {% endif %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="relative flex flex-col bg-white dark:bg-gray-600 rounded-md border dark:border-gray-700">
            <div class="flex justify-between border-b dark:border-gray-700 dark:text-white">
                <h5 class="text-lg font-medium ps-4 my-2.5">{{ 'title.dashboard.overview_store'|trans }}</h5>
            </div>
            <ul class="flex flex-col">
                {% for store in stores %}
                    <li class="p-2 mb-2 mt-0 rounded-t hover:bg-gray-50 dark:hover:bg-gray-700 text-gray-800 dark:text-white">
                        <a href="{{ path('app_dashboard_market_place_message_current', {store: store.id}) }}"
                           class="w-full">
                            <div class="flex items-center">
                                <div class="leading-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="h-10 w-10">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3"/>
                                    </svg>
                                </div>
                                <div class="flex-auto ml-2">
                                    <p class="text-sm font-medium line-clamp-1 text-indigo-700 dark:text-indigo-300">{{ store.name }}</p>
                                    <p class="text-xs text-gray-400 dark:text-white/80 mb-0 !font-normal">{{ store.created|date(date_format) }}</p>
                                </div>
                                <div class="block text-end">
                                    <span class="text-xs font-medium lg:font-thin lg:text-sm text-nowrap">
                                        {{ 'table.header.messages'|trans }}<span
                                                class="badge-green ml-0.5">{{ store.messages }}</span>
                                    </span>
                                    <p class="text-xs lg:text-sm font-medium lg:font-thin mt-0.5 text-nowrap">
                                        {{ 'table.header.products'|trans }}<span
                                                class="badge-purple ml-0.5">{{ store.products }}</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="relative flex flex-col bg-white dark:bg-gray-600 rounded-md border dark:border-gray-700">
            <div class="flex justify-between border-b dark:border-gray-700 dark:text-white">
                <h5 class="text-lg font-medium ps-4 my-2.5">{{ 'title.dashboard.overview_messages'|trans }}</h5>
            </div>
            <ul class="flex flex-col divide-y divide-gray-200 dark:divide-white/10">
                {% for message in messages %}
                <li class="inline-flex items-center p-2 mb-2 mt-0 line-n rounded-t hover:bg-gray-50 dark:hover:bg-gray-700 text-gray-800 dark:text-white relative">
                    <div class="flex items-center space-x-3 w-full">
                        <div class="flex">
                            <a class="relative inline-block h-8 w-8 rounded-full" href="">
                                <img class="rounded-full" src="{{ asset('img/user-picture.jpg') }}" alt=""> <span
                                        class="online"></span> </a></div>
                        <a href="{{ path('app_dashboard_market_place_message_conversation', {store: message.store.id, id: message.id}) }}"
                           class="w-full">
                            <div class="flex items-center justify-between">
                                <p class="text-slate-700 font-semibold text-xs dark:text-white capitalize">{{ message.customer.firstName }} {{ message.customer.lastName }}</p>
                                <p class="text-gray-500 font-normal text-xs dark:text-white/70">{{ message.createdAt|date(datetime_format) }}</p>
                            </div>
                            <div class="flex items-center justify-between pt-1">
                                <p class="text-xs text-gray-500 dark:text-white/70 line-clamp-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                         class="w-4 h-4 inline-flex mr-1">
                                        <path fill-rule="evenodd"
                                              d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                    <span class="lg:text-sm">{{ message.message }}</span>
                                </p>
                                <span class="badge-green-border capitalize">{{ message.priority }}</span>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
    <input type="hidden" name="flash-success" value="{{ _message[0]|default([]|json_encode) }}">
{% endblock %}