{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.overview_messages'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    {% if stores|length > 1 %}
        {% include 'dashboard/content/market_place/navbar/stores-nav.html.twig' with {route_name: 'app_dashboard_market_place_message_current'} %}
    {% endif %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
        <div class="box">
            <div class="box-header">
                <h5 class="text-base font-medium ps-4 my-2.5">{{ 'title.dashboard.overview_store'|trans }}</h5>
            </div>
            <ul class="flex flex-col">
                {% for store in stores %}
                    <li class="list-item">
                        <a href="{{ path('app_dashboard_market_place_message_current', {store: store.id}) }}"
                           class="w-full">
                            <div class="flex items-center">
                                <div class="leading-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="h-10 w-10">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3"/>
                                    </svg>
                                </div>
                                <div class="flex-auto ml-2">
                                    <p class="text-sm font-medium line-clamp-1 text-indigo-700 dark:text-indigo-300">{{ store.name }}</p>
                                    <p class="text-xs text-slate-400 dark:text-white/80 mb-0 !font-normal">{{ store.created|date(date_format) }}</p>
                                </div>
                                <div class="block text-end space-y-1">
                                    <span class="text-xs font-medium lg:font-thin lg:text-sm text-nowrap">
                                        {{ 'table.header.messages'|trans }}<span
                                                class="badge-green ml-1">{{ store.messages }}</span>
                                    </span>
                                    <p class="text-xs lg:text-sm font-medium lg:font-thin mt-1 md:mt-0.5 text-nowrap">
                                        {{ 'table.header.products'|trans }}<span
                                                class="badge-purple ml-1">{{ store.products }}</span>
                                    </p>
                                    <p class="text-xs lg:text-sm font-medium lg:font-thin mt-1 md:mt-0.5 text-nowrap">
                                        {{ 'table.header.orders'|trans }}<span
                                                class="badge-purple ml-1">{{ store.orders }}</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="box">
            <div class="box-header">
                <h5 class="text-base font-medium ps-4 my-2.5">{{ 'title.dashboard.overview_messages'|trans }}</h5>
            </div>
            <ul class="flex flex-col">
                {% for key, message in messages %}
                <li class="list-item">
                    <div class="flex items-center space-x-4 w-full pb-0.5">
                        <div class="flex">
                            <a class="relative inline-block h-8 w-8 rounded-full"
                               href="{{ path('app_dashboard_market_place_message_conversation', {store: message.store, id: message.id}) }}">
                                <img class="rounded-full" src="{{ asset('img/user-picture.jpg') }}" alt=""> <span
                                        class="online"></span>
                            </a>
                        </div>
                        <div class="w-full">
                            <a href="{{ path('app_dashboard_market_place_message_conversation', {store: message.store, id: message.id}) }}" class="flex items-center justify-between">
                                <p class="text-slate-700 font-semibold text-xs dark:text-white capitalize">{{ message.customer }}</p>
                                <p class="text-slate-500 font-normal text-xs dark:text-white/70">{{ message.created|date(datetime_format) }}</p>
                            </a>
                            <p class="text-slate-500 font-normal text-xs dark:text-white/70">{{ message.created|date(datetime_format) }}</p>
                            <div class="flex items-center justify-between pt-1">
                                <div class="text-xs text-slate-500 dark:text-white/70 line-clamp-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                         class="w-3.5 h-3.5 text-green-500 inline-flex mr-0.5">
                                        <path fill-rule="evenodd"
                                              d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                    <span class="text-xs md:text-sm mx-w-sm">{{ message.message }}</span>
                                </div>
                                {% set name = 'title.questions'|trans %}
                                {% set path = null %}
                                {% if message.product %}
                                    {% set name = message.product %}
                                    {% set path = path('app_market_place_product', {slug: message.product_slug, tab: 'about'}) %}
                                {% elseif message.order %}
                                    {% set name = message.order %}
                                    {% set path = path('app_dashboard_market_place_order_details_market', {store: message.store, number: message.order}) %}
                                {% endif %}
                                <button{% if path %} onclick="window.open('{{ path }}', '_blank')"{% endif %}
                                        class="text-xs font-medium text-indigo-500 hover:text-indigo-700 dark:hover:text-indigo-300">
                                    {{ name }}
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
    <input type="hidden" name="flash-success" value="{{ _message[0]|default([]|json_encode) }}">
{% endblock %}